In [1]:
db = {
    "person":{
        "name": ["Vladimir","Mariya"],
        "lname": ["Ivanov","Sidorova"],
        "inn": ["123","332"]
    },
    "employment":{
        "firm":["Firm 1","Firm 2","Firm 2","Firm 3"],
        "person_inn":["123","123","332","332"]
    }
}


qwery="person.inn=employment.person_inn"

In [2]:
res ="""
Vladimir; Ivanov; 123; Firm 1; 123
Vladimir; Ivanov; 123; Firm 2; 123
Mariya; Sidorova; 332; Firm 2; 332
Mariya; Sidorova; 332; Firm 3; 332
"""

In [3]:
db

{'person': {'name': ['Vladimir', 'Mariya'],
  'lname': ['Ivanov', 'Sidorova'],
  'inn': ['123', '332']},
 'employment': {'firm': ['Firm 1', 'Firm 2', 'Firm 2', 'Firm 3'],
  'person_inn': ['123', '123', '332', '332']}}

In [4]:
db['person']

{'name': ['Vladimir', 'Mariya'],
 'lname': ['Ivanov', 'Sidorova'],
 'inn': ['123', '332']}

In [5]:
db['employment']

{'firm': ['Firm 1', 'Firm 2', 'Firm 2', 'Firm 3'],
 'person_inn': ['123', '123', '332', '332']}

In [12]:
def merging_by_inn(db):
    merged = {
        "name" : [],
        "lname" : [],
        "inn" : [],
        "firm" : [],
        "person_inn" : []
    }
    
    for key in db['employment']:
        for item in db['employment'][key]:
            merged[key].append(item)
            if key == 'person_inn':
                for name, lname, inn in zip(enumerate(db['person']['name']), enumerate(db['person']['lname']), enumerate(db['person']['inn'])):
                    if item == inn[1]:
                        merged['name'].append(name[1])
                        merged['lname'].append(lname[1])
                        merged['inn'].append(inn[1])

        
    db['merged'] = merged
    
    return db

In [13]:
merging_by_inn(db)

{'person': {'name': ['Vladimir', 'Mariya'],
  'lname': ['Ivanov', 'Sidorova'],
  'inn': ['123', '332']},
 'employment': {'firm': ['Firm 1', 'Firm 2', 'Firm 2', 'Firm 3'],
  'person_inn': ['123', '123', '332', '332']},
 'merged': {'name': ['Vladimir', 'Vladimir', 'Mariya', 'Mariya'],
  'lname': ['Ivanov', 'Ivanov', 'Sidorova', 'Sidorova'],
  'inn': ['123', '123', '332', '332'],
  'firm': ['Firm 1', 'Firm 2', 'Firm 2', 'Firm 3'],
  'person_inn': ['123', '123', '332', '332']}}

In [26]:
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += f"{str(element)}; "
    return result

In [27]:
import numpy as np

def eval_db(db):
    evaluated = []
    for key in db['merged']:
        evaluated.append(db['merged'][key])
    evaluated = np.array(evaluated).T
    result = []
    for ent in evaluated:
        result.append(concatenate_list_data(ent))
    return result

In [28]:
eval_db(db)

['Vladimir; Ivanov; 123; Firm 1; 123; ',
 'Vladimir; Ivanov; 123; Firm 2; 123; ',
 'Mariya; Sidorova; 332; Firm 2; 332; ',
 'Mariya; Sidorova; 332; Firm 3; 332; ']